html {
	scroll-behavior: smooth;
}

/*#region Home */
.hseparator {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

#new-here, #where-are-we-now, #isetta-timeline, #what-is-there-to-see {
	background-color: #d6f2ff;
	padding-left: 5px;
}
h3#the-engine, h3#the-compendium, h3#the-blogs, h3#the-interviews, h3#the-developers, h3#the-documentary {
	background-color: #effaff;
	padding-left: 15px;
}

/*#endregion*/

/*#region Team */

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

img:hover {
	cursor: pointer;
}

.video-wrapper:hover {
	cursor: pointer;
}

img[alt="team-headshot"]{
	width: 250px;
}

img[alt="headshot"]{
	max-width: 400px;
}

img + p>em {
	display: block;
	text-align: center;
}

img + em {
	display: block;
	text-align: center;
}

.video-wrapper + p>em {
	margin-top: -.75em;
	display: block;
	text-align: center;
}

.video-wrapper + em {
	margin-top: -.75em;
	display: block;
	text-align: center;
}

video {
	max-width: 100%;
}
/*#endregion*/

/*#region Headers */

h1, h2, h3, h4 {
	font-weight: 500 !important;
}

/*#endregion*/

/*#region Blogs */

/*#endregion*/

/*#region Interviews */
.video-wrapper {
	position: relative;
	display: block;
	height: 0;
	padding: 0;
	overflow: hidden;
	padding-bottom: 56.25%;
  }
  .video-wrapper > iframe {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: 0;
  }
/*#endregion*/

/*#region MailChimp */

#mc_embed_signup form {
	padding: 0 !important;
	margin-top: 40px;
}

#mc_embed_signup form h2 {
	font-size: 25px;
	font-weight: 300;
}

#mc_embed_signup form .mc-field-group input {
	font-size: 1em;
}

#mc_embed_signup form #submit-button {
	text-align: center;
}

#mc_embed_signup form #mc-embedded-subscribe {
	background-color: #03a9f4;
	font-size: 1em;
	width: 38.2%;
	height: 2.5em;
}

#mc_embed_signup form #mc-embedded-subscribe:hover {
	background-color: #00b8dc;
}

/*#endregion*/


article .md-typeset__table {
	width: 100% !important;
}

article .md-typeset__table table th, article .md-typeset__table table td{
	font-size: 1.6rem;
}

.md-logo img {
	min-height: 32px;
	min-width: 32px;
}

.cursor_pointer {
	cursor: pointer;
}